:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --iceberg: #c7ecee;
  --lavender: #d980fa;
  --stone: #70757a;
}

body {
  background: var(--greyLight-1);
}

a {
  color: var(--greyDark);
}
.App-header {
  margin: 30px auto;
  padding: 10px 0 10px 0;
  width: 272px;
  height: 64px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  background: var(--iceberg);
  color: var(--lavender);
  border-radius: 16px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
